<div class="container">
    <div class="row">

      <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
          <form >
              <div class="form-group">
                  <label>Provider:</label>
                  <select name="capacity_provider_id" formControlName="capacity_provider_id" #capacity_provider_id class="form-control">
                      <option value="{{pro.id}}" *ngFor="let pro of providers">{{pro.name}} | {{pro.email}} | {{pro.contract_number}}  </option>
                  </select>

                  <label>Object:</label>
                  <input type="text" class="form-control" name="Object" id="Object" placeholder="Object" formControlName="Object" #Object required>
              </div>
              <div class="form-group">
                  <label>From:</label>
                  <input type="text" class="form-control" name="From" id="From" placeholder="dd/mm/yyy" formControlName="From" #From required>
              </div>
              <div class="form-group">
                  <label>To:</label>
                  <input type="text" class="form-control" name="To" id="To" placeholder="dd/mm/yyy" formControlName="To" #To required>
              </div>
              <div class="form-group">
                  <label>Active:</label>
                      <input type="checkbox" class="form-control" name="is_active" id="is_active" formControlName="is_active" #is_active >
              </div>
              <div class="form-group">
                  <label>Amount:</label>
                  <input type="text" class="form-control" name="amount" id="amount" formControlName="amount" #amount placeholder="0.00" required>
              </div>
              <div class="form-group">
                  <label>Currency:</label>
                  <input type="text" class="form-control" name="currency" id="currency" formControlName="currency" #currency placeholder="Currency" required>
              </div>
              <div class="form-group">
                  <label>Comment:</label>
                  <input type="text" class="form-control" name="comment" id="comment" formControlName="comment" #comment placeholder="Comment">
              </div>
              <button type="button" class="btn btn-primary" (click)="add(capacity_provider_id.value ,Object.value ,From.value ,To.value ,is_active.checked ,amount.value ,currency.value ,comment.value)" >Save</button>
            </form>
            <br>
      </div>

      <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12">
          <div *ngIf="bookings.length >0">
              <br>
              <table class="table table-striped">
                  <thead class="thead-dark">
                    <tr>
                      <th>
                        Object:
                      </th>
                      <th>
                        From:
                      </th>
                      <th>
                        To:
                      </th>
                      <th>
                        Active:
                      </th>
                      <th>
                        Amount:
                      </th>
                      <th>
                        Comment:
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let x of bookings">
                      <td> {{x.object_name}} </td>
                      <td> {{x.date_from | date:"MM/dd/yyyy"}} </td>
                      <td> {{x.date_to | date:"MM/dd/yyyy"}} </td>
                      <td> {{x.is_active}} </td>
                      <td> {{x.amount}} {{x.currency}} </td>
                      <td> {{x.comment}} </td>
                    </tr>
                  </tbody>
                </table>
                <button type="button" class="btn btn-danger" (click)="storeindatabase()" >Store in database</button>
          </div>
      </div>

    </div>
  </div>
